## Build folders
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs
*.log

## Environment variables
appsettings.Development.json
appsettings.Production.json

## OS
.DS_Store
Thumbs.db
